{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 8,
    },
    "extends": "eslint:recommended",
    "plugins": [
      # "eslint-plugin-html"
    ],
    "rules": {
        "no-console": ["error", { allow: ["warn", "error", "log"] }],
        "no-empty": ["error", { "allowEmptyCatch": true }],
        "indent": [
            "error",
            "tab"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
